@import './base/color';
@import './base/app';
@import './navBar';
@import './bikeCard';
@import './map';
@import './filterContainer';
@import './base/pagination';
body,
html {
  font-size: 18px;
  color: $font;
  background-color: $bg !important;
  font-family: "Roboto Condensed", sans-serif !important;
  margin: 0 auto;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    margin: 0;
  }
}

#homePage {
  margin-top: 60px;
  .homeContainer {
    display: flex;
    position: relative;
  }
  .filterTagContainer {
    // height: 50px;
    padding: 10px;
    width: 100%;
    min-height: 55px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: $md) {
      transition: .3s;
      display: none;
    }
    .filterDefault {
      margin: 0 auto;
    }
    .filterTagList {
      text-align: center;
      width: 18%;
    }
    .filterTag {
      cursor: pointer;
      width: 150px;
      margin: 5px 5px 0px 0px;
      .tagBody {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: $primary;
        border-radius: 4px;
        color: $w;
        padding: 5px 10px;
        font-size: 12px;
        font-weight: 300;
        .tagTitle {
          font-weight: 200;
        }
        .deleteTag {
          font-size: 12px;
        }
      }
    }
  }
  .mobileMenuBtn {
    display: none;
    @media (max-width: $md) {
      transition: .3s;
      position: fixed;
      z-index: 10;
      top: 70px;
      left: 5%;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $nav;
      color: $w;
      box-shadow: 0 3px 10px rgba(black, .5);
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.8;
      &.isOpen {
        transform: translateX(calc(80vw - 10px));
        background-color: $secondary;
      }
    }
  }
  #pagination {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
}
